<a href="https://colab.research.google.com/github/JiahuiZHU-Z/Test_colab/blob/main/Example_lecture_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import from local

In [ ]:
! ls

sample_data

In [ ]:
## limit vitesse
from google.colab import files
files.upload()

In [ ]:
! ls

sample_data  train_local.csv

In [ ]:
import pandas as pd
df = pd.read_csv('train_local.csv', sep =',')

In [ ]:
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

## Import from Github

In [ ]:
## limit taille <25MB
## splitter le fichier Ã  plusieurs parties
import pandas as pd

url = 'https://raw.githubusercontent.com/JiahuiZHU-Z/Test_colab/main/train_github.csv'

df = pd.read_csv(url, sep = ',')
df.head(5)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

## Import from GoogleDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
!ls

In [ ]:
## Authentification
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
## https://drive.google.com/file/d/1Co2Amz2_fpCzY2gQgSeJrV1iGMnTsw7x/view?usp=sharing

fileDownloaded = drive.CreateFile({'id':'1Co2Amz2_fpCzY2gQgSeJrV1iGMnTsw7x'})

In [ ]:
fileDownloaded.GetContentFile('train.csv')

In [ ]:
!ls

adc.json  sample_data  train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv', sep =',')

In [ ]:
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]